<component name="ArtifactManager">
  <artifact type="war" name="Spring-work:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring-work-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-work:war exploded" />
    </root>
  </artifact>
</component>